.articles
  +margin-top(2.5)
  +margin-bottom(2.5)

.articles__item
  +margin-top(2.5)

.article__image
  width: 100%
  height: 200px
  +margin-bottom(1.5)

  +at-breakpoint(tab)
    +margin-bottom(0)
    height: 400px

.articles__item__heading

.articles__title
  +heading-font-family
  +font-size(alpha)
  text-transform: uppercase

.articles__subtitle
  color: $light-body-color
  +font-size(delta)
  +subtitle-font-family
  text-transform: uppercase

.articles__item__meta
  font-style: italic

.articles__item__content
  +margin-top(1.5)
