- all_maps = dato.maps.sort_by(&:position)
- first_map = all_maps[0]
- second_map = all_maps[1]

= partial "partials/maps", locals: { map: first_map }
= partial "partials/articles"
= partial "partials/papers"
= partial "partials/maps", locals: { map: second_map }
= partial "partials/events"
